# NYC Rat Inspection Data Profile

## This script contains the following points:

1. Import libraries and dataset.

2. Basic data cleaning and consistency checks.

3. Review of variables and basic descriptive statistical analysis.

4. Export updated dataset.

## 1. Import libraries and dataset.

In [1]:
# Import libraries.

import pandas as pd
import numpy as np
import os

In [2]:
# Establish path.

path = r'C:\Users\danie\Desktop\CareerFoundry\Achievement 6-Personal Project\02-2024 NYC Rats'
path

'C:\\Users\\danie\\Desktop\\CareerFoundry\\Achievement 6-Personal Project\\02-2024 NYC Rats'

In [3]:
# Import dataset.

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Rodent_Inspection_20240205.csv'), index_col = False)

## 2. Basic data cleaning and consistency checks.

In [4]:
# Data exploration: Basic information on dataframe.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2478816 entries, 0 to 2478815
Data columns (total 25 columns):
 #   Column                       Dtype
---  ------                       -----
 0   INSPECTION_TYPE              object
 1   JOB_TICKET_OR_WORK_ORDER_ID  int64
 2   JOB_ID                       object
 3   JOB_PROGRESS                 int64
 4   BBL                          float64
 5   BORO_CODE                    int64
 6   BLOCK                        int64
 7   LOT                          int64
 8   HOUSE_NUMBER                 object
 9   STREET_NAME                  object
 10  ZIP_CODE                     float64
 11  X_COORD                      float64
 12  Y_COORD                      float64
 13  LATITUDE                     float64
 14  LONGITUDE                    float64
 15  BOROUGH                      object
 16  INSPECTION_DATE              object
 17  RESULT                       object
 18  APPROVED_DATE                object
 19  LOCATION                     object
 20  COMMUNITY BOARD              float64
 21  COUNCIL DISTRICT             float64
 22  CENSUS TRACT                 float64
 23  BIN                          float64
 24  NTA                          object
dtypes: float64(10), int64(5), object(10)
memory usage: 472.8+ MB

In [5]:
# Data exploration: First 10 rows of dataframe.

df.head(10)

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,...,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,BIN,NTA
0,Initial,13661515,PC8122655,1,NaN,1,529,9,NaN,NaN,...,Manhattan,06/07/2023 04:36:13 PM,Passed,06/08/2023 10:38:30 AM,NaN,NaN,NaN,NaN,NaN,NaN
1,Initial,11507405,PC7504205,1,NaN,5,62,113,000,YORK AVENUE,...,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,09/17/2010 09:47:30 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
2,Initial,13264492,PC7744572,1,NaN,2,2857,95,0000,JEROME AVENUE,...,Bronx,07/28/2021 12:48:53 PM,Passed,07/29/2021 01:19:32 PM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
3,Initial,13252138,PC7732344,1,NaN,2,2409,59,NaN,NaN,...,Bronx,07/07/2021 08:49:45 AM,Passed,07/08/2021 10:18:56 AM,NaN,NaN,NaN,NaN,NaN,NaN
4,Initial,13432908,PC7906420,1,NaN,2,2420,78,0000,EAST 161 STREET,...,Bronx,07/19/2022 01:50:56 PM,Passed,07/20/2022 11:03:35 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
5,Initial,13392717,PC7869938,1,NaN,2,2509,44,0000,WOODYCREST AVENUE,...,Bronx,05/20/2022 01:08:51 PM,Passed,05/23/2022 10:36:46 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
6,BAIT,2471907,PC7535791,3,NaN,5,4762,105,000,MILL ROAD,...,Staten Island,02/22/2013 01:10:50 PM,Bait applied,02/25/2013 07:24:42 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
7,Initial,12657813,PC7237999,1,NaN,3,1842,42,NaN,ARLINGTON PLACE,...,Brooklyn,09/12/2019 11:55:08 AM,Passed,09/13/2019 02:07:30 PM,"(40.6810169124686, -73.9515017503791)",NaN,NaN,NaN,NaN,NaN
8,Initial,13597841,PC8060919,1,NaN,2,4564,105,SEXTON,PLACE,...,Bronx,03/10/2023 02:10:27 PM,Passed,03/13/2023 03:28:57 PM,NaN,NaN,NaN,NaN,NaN,NaN
9,Initial,11572675,PC7294267,1,NaN,3,1455,40,NaN,BERGEN STREET,...,Brooklyn,12/27/2016 12:36:34 PM,Failed for Other R,12/29/2016 11:11:00 AM,"(40.6736114362601, -73.9091705375978)",NaN,NaN,NaN,NaN,NaN

In [6]:
# Data exploration: Last 10 rows of dataframe.

df.tail(10)

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,...,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,BIN,NTA
2478806,Initial,13573194,PC8040265,1,2.030660e+09,2,3066,53,2465,ARTHUR AVENUE,...,Bronx,02/03/2023 02:30:05 PM,Passed,02/06/2023 09:24:58 AM,"(40.856979825377, -73.886358703117)",6.0,15.0,389.0,2011934.0,Belmont
2478807,Compliance,13653601,PC8090979,2,3.024650e+09,3,2465,6,434,SOUTH 5 STREET,...,Brooklyn,05/26/2023 12:10:32 PM,Rat Activity,05/30/2023 10:02:17 AM,"(40.707008581511, -73.951506038819)",1.0,34.0,527.0,3321351.0,Williamsburg
2478808,Initial,13327298,PC7804191,1,2.030550e+09,2,3055,45,4612,3 AVENUE,...,Bronx,02/09/2022 08:09:18 AM,Passed,02/10/2022 10:52:55 AM,"(40.856116877191, -73.890886112973)",6.0,15.0,387.0,2011699.0,Belmont
2478809,Initial,12510484,PC7269691,1,3.016030e+09,3,1603,8,75,STUYVESANT AVENUE,...,Brooklyn,10/24/2018 08:18:18 AM,Passed,11/02/2018 07:13:17 AM,"(40.693240354692, -73.934098663565)",3.0,36.0,289.0,3043263.0,Bedford-Stuyvesant (East)
2478810,Initial,11475082,PC7266710,1,3.018550e+09,3,1855,32,124,MACDONOUGH STREET,...,Brooklyn,10/08/2019 12:30:42 PM,Rat Activity,10/16/2019 01:19:07 PM,"(40.681241527023, -73.941609885172)",3.0,36.0,269.0,3053510.0,Bedford-Stuyvesant (West)
2478811,Initial,13432368,PC7903446,1,2.031980e+09,2,3198,27,28,WEST 184 STREET,...,Bronx,07/18/2022 03:29:22 PM,Rat Activity,07/20/2022 11:07:22 AM,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,2014252.0,University Heights (North)-Fordham
2478812,Initial,13573663,PC8041193,1,3.015950e+09,3,1595,24,382,HART STREET,...,Brooklyn,02/03/2023 03:00:12 PM,Rat Activity,02/06/2023 10:06:26 AM,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,3043113.0,Bedford-Stuyvesant (East)
2478813,Initial,12440482,PC6893358,1,2.031880e+09,2,3188,92,15,EAST 184 STREET,...,Bronx,05/08/2018 01:46:46 PM,Passed,05/10/2018 03:37:02 PM,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,2014121.0,Fordham Heights
2478814,Initial,13591888,PC8049411,1,4.012820e+09,4,1282,3,38-21,69 STREET,...,Queens,03/02/2023 12:51:42 PM,Passed,03/06/2023 02:20:53 PM,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,4437111.0,Woodside
2478815,Initial,12309632,PC6798968,1,2.037550e+09,2,3755,34,1154,TAYLOR AVENUE,...,Bronx,08/01/2017 11:13:26 AM,Passed,08/02/2017 01:16:41 PM,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,2024338.0,Soundview-Bruckner-Bronx River

In [7]:
# Rename JOB_TICKET_OR_WORK_ORDER_ID column to WORK_ID.

df.rename(columns = {'JOB_TICKET_OR_WORK_ORDER_ID':'WORK_ID'}, inplace = True)

In [8]:
# Check output of column rename.

df.head()

,INSPECTION_TYPE,WORK_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,...,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,BIN,NTA
0,Initial,13661515,PC8122655,1,NaN,1,529,9,NaN,NaN,...,Manhattan,06/07/2023 04:36:13 PM,Passed,06/08/2023 10:38:30 AM,NaN,NaN,NaN,NaN,NaN,NaN
1,Initial,11507405,PC7504205,1,NaN,5,62,113,000,YORK AVENUE,...,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,09/17/2010 09:47:30 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
2,Initial,13264492,PC7744572,1,NaN,2,2857,95,0000,JEROME AVENUE,...,Bronx,07/28/2021 12:48:53 PM,Passed,07/29/2021 01:19:32 PM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
3,Initial,13252138,PC7732344,1,NaN,2,2409,59,NaN,NaN,...,Bronx,07/07/2021 08:49:45 AM,Passed,07/08/2021 10:18:56 AM,NaN,NaN,NaN,NaN,NaN,NaN
4,Initial,13432908,PC7906420,1,NaN,2,2420,78,0000,EAST 161 STREET,...,Bronx,07/19/2022 01:50:56 PM,Passed,07/20/2022 11:03:35 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN

In [9]:
# Rename NTA column to NEIGHBORHOOD

df.rename(columns = {'NTA':'NEIGHBORHOOD'}, inplace = True)

In [11]:
# Check output of NTA column rename.

df

,INSPECTION_TYPE,WORK_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,...,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,BIN,NEIGHBORHOOD
0,Initial,13661515,PC8122655,1,NaN,1,529,9,NaN,NaN,...,Manhattan,06/07/2023 04:36:13 PM,Passed,06/08/2023 10:38:30 AM,NaN,NaN,NaN,NaN,NaN,NaN
1,Initial,11507405,PC7504205,1,NaN,5,62,113,000,YORK AVENUE,...,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,09/17/2010 09:47:30 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
2,Initial,13264492,PC7744572,1,NaN,2,2857,95,0000,JEROME AVENUE,...,Bronx,07/28/2021 12:48:53 PM,Passed,07/29/2021 01:19:32 PM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
3,Initial,13252138,PC7732344,1,NaN,2,2409,59,NaN,NaN,...,Bronx,07/07/2021 08:49:45 AM,Passed,07/08/2021 10:18:56 AM,NaN,NaN,NaN,NaN,NaN,NaN
4,Initial,13432908,PC7906420,1,NaN,2,2420,78,0000,EAST 161 STREET,...,Bronx,07/19/2022 01:50:56 PM,Passed,07/20/2022 11:03:35 AM,"(0.0, 0.0)",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,13432368,PC7903446,1,2.031980e+09,2,3198,27,28,WEST 184 STREET,...,Bronx,07/18/2022 03:29:22 PM,Rat Activity,07/20/2022 11:07:22 AM,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,2014252.0,University Heights (North)-Fordham
2478812,Initial,13573663,PC8041193,1,3.015950e+09,3,1595,24,382,HART STREET,...,Brooklyn,02/03/2023 03:00:12 PM,Rat Activity,02/06/2023 10:06:26 AM,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,3043113.0,Bedford-Stuyvesant (East)
2478813,Initial,12440482,PC6893358,1,2.031880e+09,2,3188,92,15,EAST 184 STREET,...,Bronx,05/08/2018 01:46:46 PM,Passed,05/10/2018 03:37:02 PM,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,2014121.0,Fordham Heights
2478814,Initial,13591888,PC8049411,1,4.012820e+09,4,1282,3,38-21,69 STREET,...,Queens,03/02/2023 12:51:42 PM,Passed,03/06/2023 02:20:53 PM,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,4437111.0,Woodside
2478815,Initial,12309632,PC6798968,1,2.037550e+09,2,3755,34,1154,TAYLOR AVENUE,...,Bronx,08/01/2017 11:13:26 AM,Passed,08/02/2017 01:16:41 PM,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,2024338.0,Soundview-Bruckner-Bronx River

Examined accompanying [Data Dictionary](https://data.cityofnewyork.us/Health/Rodent-Inspection/p937-wjvj/about_data) and determined the following columns unnecessary for analysis: WORK_ID, JOB_ID, BBL, BORO_CODE, BLOCK, LOT, APPROVED_DATE, and BIN.

In [16]:
 # Create updated dataframe with above listed columns dropped.

df_2 = df.drop(columns = ['WORK_ID', 'JOB_ID', 'BBL', 'BORO_CODE', 'BLOCK', 'LOT', 'APPROVED_DATE', 'BIN'])

In [17]:
# Check output.

df_2

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
0,Initial,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Manhattan,06/07/2023 04:36:13 PM,Passed,NaN,NaN,NaN,NaN,NaN
1,Initial,1,000,YORK AVENUE,NaN,NaN,NaN,0.000000,0.000000,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,"(0.0, 0.0)",NaN,NaN,NaN,NaN
2,Initial,1,0000,JEROME AVENUE,NaN,NaN,NaN,0.000000,0.000000,Bronx,07/28/2021 12:48:53 PM,Passed,"(0.0, 0.0)",NaN,NaN,NaN,NaN
3,Initial,1,NaN,NaN,10451.0,NaN,NaN,NaN,NaN,Bronx,07/07/2021 08:49:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
4,Initial,1,0000,EAST 161 STREET,NaN,NaN,NaN,0.000000,0.000000,Bronx,07/19/2022 01:50:56 PM,Passed,"(0.0, 0.0)",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,07/18/2022 03:29:22 PM,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,02/03/2023 03:00:12 PM,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East)
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,05/08/2018 01:46:46 PM,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,03/02/2023 12:51:42 PM,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,08/01/2017 11:13:26 AM,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River

In [18]:
# Check number of missing values.

df_2.isnull().sum()

INSPECTION_TYPE          0
JOB_PROGRESS             0
HOUSE_NUMBER         49056
STREET_NAME           6634
ZIP_CODE             14987
X_COORD             526208
Y_COORD             526208
LATITUDE             14621
LONGITUDE            14621
BOROUGH                217
INSPECTION_DATE         17
RESULT                  37
LOCATION             15915
COMMUNITY BOARD      68055
COUNCIL DISTRICT     68055
CENSUS TRACT         68055
NEIGHBORHOOD         68055
dtype: int64

In [19]:
# Investigate missing values in HOUSE_NUMBER column.

df_nan_house = df_2[df_2['HOUSE_NUMBER'].isnull()==True]
df_nan_house

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
0,Initial,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Manhattan,06/07/2023 04:36:13 PM,Passed,NaN,NaN,NaN,NaN,NaN
3,Initial,1,NaN,NaN,10451.0,NaN,NaN,NaN,NaN,Bronx,07/07/2021 08:49:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
7,Initial,1,NaN,ARLINGTON PLACE,11216.0,997701.0,187393.0,40.681017,-73.951502,Brooklyn,09/12/2019 11:55:08 AM,Passed,"(40.6810169124686, -73.9515017503791)",NaN,NaN,NaN,NaN
9,Initial,1,NaN,BERGEN STREET,11233.0,NaN,NaN,40.673611,-73.909171,Brooklyn,12/27/2016 12:36:34 PM,Failed for Other R,"(40.6736114362601, -73.9091705375978)",NaN,NaN,NaN,NaN
10,BAIT,4,NaN,NaN,11216.0,NaN,NaN,NaN,NaN,Brooklyn,01/24/2022 09:21:13 AM,Bait applied,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478556,Initial,1,NaN,161 STREET,11432.0,1040015.0,196247.0,40.705158,-73.798882,Queens,05/06/2011 01:55:01 PM,Passed,"(40.7051582354692, -73.7988822435431)",NaN,NaN,NaN,NaN
2478582,Initial,1,NaN,MYRTLE AVENUE,11206.0,997906.0,192472.0,40.694958,-73.950754,Brooklyn,01/17/2019 03:37:48 PM,Passed,"(40.6949577239532, -73.9507538838124)",NaN,NaN,NaN,NaN
2478683,Initial,1,NaN,NELSON AVENUE,10452.0,1005944.0,246632.0,40.843597,-73.921593,Bronx,06/24/2015 02:22:44 PM,Passed,"(40.8435972106852, -73.9215927264)",NaN,NaN,NaN,NaN
2478752,Initial,1,NaN,EDGECOMBE AVENUE,10030.0,998842.0,237390.0,40.818262,-73.947264,Manhattan,12/28/2015 11:36:56 AM,Passed,"(40.8182624573751, -73.9472640530376)",NaN,NaN,NaN,NaN
2478793,Initial,1,NaN,PALMETTO STREET,11385.0,1010104.0,195625.0,40.703583,-73.906753,Queens,05/10/2017 08:00:12 AM,Failed for Other R,"(40.7035831682689, -73.9067525841423)",NaN,NaN,NaN,NaN

Given the questions for this analysis are primarily time- and location-based and coordinates provide specific location information that makes up for missing street addresses, all missing values for variables other than LOCATION, INSPECTION DATE, and APPROVED_DATE will be unaddressed and left untouched as they do not significantly impact the analysis.

In [20]:
# Investigate missing values in LATITUDE column.

df_nan_lat = df_2[df_2['LATITUDE'].isnull()==True]
df_nan_lat

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
0,Initial,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Manhattan,06/07/2023 04:36:13 PM,Passed,NaN,NaN,NaN,NaN,NaN
3,Initial,1,NaN,NaN,10451.0,NaN,NaN,NaN,NaN,Bronx,07/07/2021 08:49:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
8,Initial,1,SEXTON,PLACE,10469.0,NaN,NaN,NaN,NaN,Bronx,03/10/2023 02:10:27 PM,Passed,NaN,NaN,NaN,NaN,NaN
10,BAIT,4,NaN,NaN,11216.0,NaN,NaN,NaN,NaN,Brooklyn,01/24/2022 09:21:13 AM,Bait applied,NaN,NaN,NaN,NaN,NaN
11,Initial,1,NaN,NaN,11377.0,NaN,NaN,NaN,NaN,Queens,11/23/2022 01:53:01 PM,Passed,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478110,Initial,1,PILLING,STREET,11207.0,NaN,NaN,NaN,NaN,Brooklyn,09/12/2022 04:18:41 PM,Passed,NaN,NaN,NaN,NaN,NaN
2478328,Initial,1,NaN,NaN,11377.0,NaN,NaN,NaN,NaN,Queens,10/11/2022 04:10:00 PM,Rat Activity,NaN,NaN,NaN,NaN,NaN
2478352,Compliance,2,NaN,NaN,11224.0,NaN,NaN,NaN,NaN,Brooklyn,01/31/2023 01:00:17 PM,Rat Activity,NaN,NaN,NaN,NaN,NaN
2478417,Compliance,2,NaN,EAST 161 STREET,10451.0,1007055.0,239566.0,NaN,NaN,Bronx,06/28/2010 10:25:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
2478608,Initial,1,JEROME,AVENUE,10452.0,NaN,NaN,NaN,NaN,Bronx,12/19/2022 12:10:49 PM,Passed,NaN,NaN,NaN,NaN,NaN

In [21]:
# Investigate missing values in LONGITUDE column.

df_nan_long = df_2[df_2['LONGITUDE'].isnull()==True]
df_nan_long

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
0,Initial,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Manhattan,06/07/2023 04:36:13 PM,Passed,NaN,NaN,NaN,NaN,NaN
3,Initial,1,NaN,NaN,10451.0,NaN,NaN,NaN,NaN,Bronx,07/07/2021 08:49:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
8,Initial,1,SEXTON,PLACE,10469.0,NaN,NaN,NaN,NaN,Bronx,03/10/2023 02:10:27 PM,Passed,NaN,NaN,NaN,NaN,NaN
10,BAIT,4,NaN,NaN,11216.0,NaN,NaN,NaN,NaN,Brooklyn,01/24/2022 09:21:13 AM,Bait applied,NaN,NaN,NaN,NaN,NaN
11,Initial,1,NaN,NaN,11377.0,NaN,NaN,NaN,NaN,Queens,11/23/2022 01:53:01 PM,Passed,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478110,Initial,1,PILLING,STREET,11207.0,NaN,NaN,NaN,NaN,Brooklyn,09/12/2022 04:18:41 PM,Passed,NaN,NaN,NaN,NaN,NaN
2478328,Initial,1,NaN,NaN,11377.0,NaN,NaN,NaN,NaN,Queens,10/11/2022 04:10:00 PM,Rat Activity,NaN,NaN,NaN,NaN,NaN
2478352,Compliance,2,NaN,NaN,11224.0,NaN,NaN,NaN,NaN,Brooklyn,01/31/2023 01:00:17 PM,Rat Activity,NaN,NaN,NaN,NaN,NaN
2478417,Compliance,2,NaN,EAST 161 STREET,10451.0,1007055.0,239566.0,NaN,NaN,Bronx,06/28/2010 10:25:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
2478608,Initial,1,JEROME,AVENUE,10452.0,NaN,NaN,NaN,NaN,Bronx,12/19/2022 12:10:49 PM,Passed,NaN,NaN,NaN,NaN,NaN

In [22]:
# Investigate missing values in LOCATION column.

df_nan_location = df_2[df_2['LOCATION'].isnull()==True]
df_nan_location

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
0,Initial,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Manhattan,06/07/2023 04:36:13 PM,Passed,NaN,NaN,NaN,NaN,NaN
3,Initial,1,NaN,NaN,10451.0,NaN,NaN,NaN,NaN,Bronx,07/07/2021 08:49:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
8,Initial,1,SEXTON,PLACE,10469.0,NaN,NaN,NaN,NaN,Bronx,03/10/2023 02:10:27 PM,Passed,NaN,NaN,NaN,NaN,NaN
10,BAIT,4,NaN,NaN,11216.0,NaN,NaN,NaN,NaN,Brooklyn,01/24/2022 09:21:13 AM,Bait applied,NaN,NaN,NaN,NaN,NaN
11,Initial,1,NaN,NaN,11377.0,NaN,NaN,NaN,NaN,Queens,11/23/2022 01:53:01 PM,Passed,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478110,Initial,1,PILLING,STREET,11207.0,NaN,NaN,NaN,NaN,Brooklyn,09/12/2022 04:18:41 PM,Passed,NaN,NaN,NaN,NaN,NaN
2478328,Initial,1,NaN,NaN,11377.0,NaN,NaN,NaN,NaN,Queens,10/11/2022 04:10:00 PM,Rat Activity,NaN,NaN,NaN,NaN,NaN
2478352,Compliance,2,NaN,NaN,11224.0,NaN,NaN,NaN,NaN,Brooklyn,01/31/2023 01:00:17 PM,Rat Activity,NaN,NaN,NaN,NaN,NaN
2478417,Compliance,2,NaN,EAST 161 STREET,10451.0,1007055.0,239566.0,NaN,NaN,Bronx,06/28/2010 10:25:45 AM,Passed,NaN,NaN,NaN,NaN,NaN
2478608,Initial,1,JEROME,AVENUE,10452.0,NaN,NaN,NaN,NaN,Bronx,12/19/2022 12:10:49 PM,Passed,NaN,NaN,NaN,NaN,NaN

In [23]:
# Determine what percentage of total dataset are missing LOCATION values.

15915/2478815

0.006420406524891935

Missing values for LOCATION variable comprise less than 1% of the total dataset and will be removed below.

In [24]:
# Double-check df_2 to compare number of rows with cleaned data frame.

df_2.shape

(2478816, 17)

In [25]:
# Create cleaned dataframe with missing LOCATION values removed.

df_3 = df_2[df_2['LOCATION'].isnull() == False]

In [26]:
# Check output.

df_3

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
1,Initial,1,000,YORK AVENUE,NaN,NaN,NaN,0.000000,0.000000,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,"(0.0, 0.0)",NaN,NaN,NaN,NaN
2,Initial,1,0000,JEROME AVENUE,NaN,NaN,NaN,0.000000,0.000000,Bronx,07/28/2021 12:48:53 PM,Passed,"(0.0, 0.0)",NaN,NaN,NaN,NaN
4,Initial,1,0000,EAST 161 STREET,NaN,NaN,NaN,0.000000,0.000000,Bronx,07/19/2022 01:50:56 PM,Passed,"(0.0, 0.0)",NaN,NaN,NaN,NaN
5,Initial,1,0000,WOODYCREST AVENUE,NaN,NaN,NaN,0.000000,0.000000,Bronx,05/20/2022 01:08:51 PM,Passed,"(0.0, 0.0)",NaN,NaN,NaN,NaN
6,BAIT,3,000,MILL ROAD,NaN,NaN,NaN,0.000000,0.000000,Staten Island,02/22/2013 01:10:50 PM,Bait applied,"(0.0, 0.0)",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,07/18/2022 03:29:22 PM,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,02/03/2023 03:00:12 PM,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East)
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,05/08/2018 01:46:46 PM,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,03/02/2023 12:51:42 PM,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,08/01/2017 11:13:26 AM,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River

In [27]:
# Check number of rows for df_clean.

df_3.shape

(2462901, 17)

In [28]:
# Confirm number of rows removed is equal to number of rows in df_nan_location (15915 rows).

2478816-2462901

15915

In [29]:
# Check LOCATION values count.

df_3['LOCATION'].value_counts()

LOCATION
(0.0, 0.0)                             14617
(40.723680527621, -73.979692000943)      304
(40.718008702954, -73.99342724941)       298
(40.715450766367, -73.999538265827)      293
(40.713806515614, -74.005569530537)      248
                                       ...
(40.882759280986, -73.859871241506)        1
(40.656892120873, -73.894795724991)        1
(40.865875701633, -73.844353097913)        1
(40.687379234922, -73.825703992801)        1
(40.840675633548, -73.835998611971)        1
Name: count, Length: 351759, dtype: int64

In [30]:
# Replace (0.0, 0.0) values with NaN in LOCATION column.

df_3.replace('(0.0, 0.0)', np.nan, inplace=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_11664\4087421532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3.replace('(0.0, 0.0)', np.nan, inplace=True)

In [31]:
# Check output.

df_3

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
1,Initial,1,000,YORK AVENUE,NaN,NaN,NaN,0.000000,0.000000,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,NaN,NaN,NaN,NaN,NaN
2,Initial,1,0000,JEROME AVENUE,NaN,NaN,NaN,0.000000,0.000000,Bronx,07/28/2021 12:48:53 PM,Passed,NaN,NaN,NaN,NaN,NaN
4,Initial,1,0000,EAST 161 STREET,NaN,NaN,NaN,0.000000,0.000000,Bronx,07/19/2022 01:50:56 PM,Passed,NaN,NaN,NaN,NaN,NaN
5,Initial,1,0000,WOODYCREST AVENUE,NaN,NaN,NaN,0.000000,0.000000,Bronx,05/20/2022 01:08:51 PM,Passed,NaN,NaN,NaN,NaN,NaN
6,BAIT,3,000,MILL ROAD,NaN,NaN,NaN,0.000000,0.000000,Staten Island,02/22/2013 01:10:50 PM,Bait applied,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,07/18/2022 03:29:22 PM,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,02/03/2023 03:00:12 PM,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East)
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,05/08/2018 01:46:46 PM,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,03/02/2023 12:51:42 PM,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,08/01/2017 11:13:26 AM,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River

In [32]:
# Reexamine new missing values in LOCATION column.

df_nan_location_2 = df_3[df_3['LOCATION'].isnull()==True]
df_nan_location_2

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
1,Initial,1,000,YORK AVENUE,NaN,NaN,NaN,0.0,0.0,Staten Island,09/16/2010 04:00:00 PM,Failed for Other R,NaN,NaN,NaN,NaN,NaN
2,Initial,1,0000,JEROME AVENUE,NaN,NaN,NaN,0.0,0.0,Bronx,07/28/2021 12:48:53 PM,Passed,NaN,NaN,NaN,NaN,NaN
4,Initial,1,0000,EAST 161 STREET,NaN,NaN,NaN,0.0,0.0,Bronx,07/19/2022 01:50:56 PM,Passed,NaN,NaN,NaN,NaN,NaN
5,Initial,1,0000,WOODYCREST AVENUE,NaN,NaN,NaN,0.0,0.0,Bronx,05/20/2022 01:08:51 PM,Passed,NaN,NaN,NaN,NaN,NaN
6,BAIT,3,000,MILL ROAD,NaN,NaN,NaN,0.0,0.0,Staten Island,02/22/2013 01:10:50 PM,Bait applied,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477040,Compliance,2,000,SHELDON AVENUE,NaN,NaN,NaN,0.0,0.0,Staten Island,01/15/2013 02:31:23 PM,Passed,NaN,NaN,NaN,NaN,NaN
2477387,BAIT,6,2162,********************,NaN,NaN,NaN,0.0,0.0,Manhattan,07/16/2017 02:00:39 PM,Bait applied,NaN,NaN,NaN,NaN,NaN
2477622,Initial,1,398B,Kingston Avenue,NaN,1000171.0,181540.0,0.0,0.0,Brooklyn,05/06/2015 11:28:11 AM,Failed for Other R,NaN,NaN,NaN,NaN,NaN
2477780,BAIT,4,000,VICTORY BOULEVARD,NaN,NaN,NaN,0.0,0.0,Staten Island,09/07/2011 11:00:20 AM,Bait applied,NaN,NaN,NaN,NaN,NaN
2478449,Compliance,2,000,SHELDON AVENUE,NaN,NaN,NaN,0.0,0.0,Staten Island,01/15/2013 03:09:09 PM,Failed for Other R,NaN,NaN,NaN,NaN,NaN

In [33]:
# Create dataframe with second batch of missing LOCATION values removed.

df_4 = df_3[df_3['LOCATION'].isnull() == False]

In [34]:
# Check output.

df_4

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
7,Initial,1,NaN,ARLINGTON PLACE,11216.0,997701.0,187393.0,40.681017,-73.951502,Brooklyn,09/12/2019 11:55:08 AM,Passed,"(40.6810169124686, -73.9515017503791)",NaN,NaN,NaN,NaN
9,Initial,1,NaN,BERGEN STREET,11233.0,NaN,NaN,40.673611,-73.909171,Brooklyn,12/27/2016 12:36:34 PM,Failed for Other R,"(40.6736114362601, -73.9091705375978)",NaN,NaN,NaN,NaN
27,Initial,1,NaN,EDGECOMBE AVENUE,10031.0,1000223.0,240315.0,40.826270,-73.942285,Manhattan,07/12/2013 12:00:47 PM,Passed,"(40.8262698520729, -73.9422846601732)",NaN,NaN,NaN,NaN
30,Initial,1,NaN,WASHINGTON AVENUE,11225.0,995106.0,181890.0,40.665788,-73.960890,Brooklyn,12/18/2017 03:34:44 PM,Passed,"(40.6657883821875, -73.9608903798308)",NaN,NaN,NaN,NaN
31,Compliance,2,NaN,WORTMAN AVENUE,11208.0,NaN,NaN,40.663952,-73.868750,Brooklyn,12/19/2012 04:15:50 PM,Passed,"(40.6639519979903, -73.8687500203666)",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,07/18/2022 03:29:22 PM,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,02/03/2023 03:00:12 PM,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East)
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,05/08/2018 01:46:46 PM,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,03/02/2023 12:51:42 PM,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,08/01/2017 11:13:26 AM,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River

In [35]:
# Check LOCATION values count to ensure there are no missing values.

df_4['LOCATION'].value_counts()

LOCATION
(40.723680527621, -73.979692000943)    304
(40.718008702954, -73.99342724941)     298
(40.715450766367, -73.999538265827)    293
(40.713806515614, -74.005569530537)    248
(40.866541218064, -73.924963369476)    235
                                      ...
(40.839765461394, -73.785056884107)      1
(40.831328583465, -73.82585665059)       1
(40.608476647677, -73.95889612814)       1
(40.59402132669, -74.071574981742)       1
(40.840675633548, -73.835998611971)      1
Name: count, Length: 351758, dtype: int64

In [36]:
# Examine data type for INSPECTION_DATE.

df_4['INSPECTION_DATE'].dtype

dtype('O')

In [37]:
# Convert INSPECTION_DATE data type from object to datetime.

df_4['INSPECTION_DATE'] = pd.to_datetime(df_4['INSPECTION_DATE'])

C:\Users\danie\AppData\Local\Temp\ipykernel_11664\2898554053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['INSPECTION_DATE'] = pd.to_datetime(df_4['INSPECTION_DATE'])

In [38]:
# Check output.

df_4['INSPECTION_DATE'].dtype

dtype('<M8[ns]')

In [39]:
# Check df_4.

df_4

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD
7,Initial,1,NaN,ARLINGTON PLACE,11216.0,997701.0,187393.0,40.681017,-73.951502,Brooklyn,2019-09-12 11:55:08,Passed,"(40.6810169124686, -73.9515017503791)",NaN,NaN,NaN,NaN
9,Initial,1,NaN,BERGEN STREET,11233.0,NaN,NaN,40.673611,-73.909171,Brooklyn,2016-12-27 12:36:34,Failed for Other R,"(40.6736114362601, -73.9091705375978)",NaN,NaN,NaN,NaN
27,Initial,1,NaN,EDGECOMBE AVENUE,10031.0,1000223.0,240315.0,40.826270,-73.942285,Manhattan,2013-07-12 12:00:47,Passed,"(40.8262698520729, -73.9422846601732)",NaN,NaN,NaN,NaN
30,Initial,1,NaN,WASHINGTON AVENUE,11225.0,995106.0,181890.0,40.665788,-73.960890,Brooklyn,2017-12-18 15:34:44,Passed,"(40.6657883821875, -73.9608903798308)",NaN,NaN,NaN,NaN
31,Compliance,2,NaN,WORTMAN AVENUE,11208.0,NaN,NaN,40.663952,-73.868750,Brooklyn,2012-12-19 16:15:50,Passed,"(40.6639519979903, -73.8687500203666)",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,2022-07-18 15:29:22,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,2023-02-03 15:00:12,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East)
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,2018-05-08 13:46:46,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,2023-03-02 12:51:42,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,2017-08-01 11:13:26,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River

In [40]:
# Extract year from INSPECTION_DATE timestamp. Note: Original data variables are in all caps, derived data variables are in lowercase.

df_4['inspection_year'] = pd.DatetimeIndex(df_4['INSPECTION_DATE']).year

C:\Users\danie\AppData\Local\Temp\ipykernel_11664\1943355670.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['inspection_year'] = pd.DatetimeIndex(df_4['INSPECTION_DATE']).year

In [41]:
# Check output.

df_4

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD,inspection_year
7,Initial,1,NaN,ARLINGTON PLACE,11216.0,997701.0,187393.0,40.681017,-73.951502,Brooklyn,2019-09-12 11:55:08,Passed,"(40.6810169124686, -73.9515017503791)",NaN,NaN,NaN,NaN,2019.0
9,Initial,1,NaN,BERGEN STREET,11233.0,NaN,NaN,40.673611,-73.909171,Brooklyn,2016-12-27 12:36:34,Failed for Other R,"(40.6736114362601, -73.9091705375978)",NaN,NaN,NaN,NaN,2016.0
27,Initial,1,NaN,EDGECOMBE AVENUE,10031.0,1000223.0,240315.0,40.826270,-73.942285,Manhattan,2013-07-12 12:00:47,Passed,"(40.8262698520729, -73.9422846601732)",NaN,NaN,NaN,NaN,2013.0
30,Initial,1,NaN,WASHINGTON AVENUE,11225.0,995106.0,181890.0,40.665788,-73.960890,Brooklyn,2017-12-18 15:34:44,Passed,"(40.6657883821875, -73.9608903798308)",NaN,NaN,NaN,NaN,2017.0
31,Compliance,2,NaN,WORTMAN AVENUE,11208.0,NaN,NaN,40.663952,-73.868750,Brooklyn,2012-12-19 16:15:50,Passed,"(40.6639519979903, -73.8687500203666)",NaN,NaN,NaN,NaN,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,2022-07-18 15:29:22,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham,2022.0
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,2023-02-03 15:00:12,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East),2023.0
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,2018-05-08 13:46:46,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights,2018.0
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,2023-03-02 12:51:42,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside,2023.0
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,2017-08-01 11:13:26,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River,2017.0

In [42]:
# Find earliest inspection_year.

df_4['inspection_year'].min()

1918.0

In [43]:
# Find max inspection_year.

df_4['inspection_year'].max()

2029.0

In [44]:
# Examine data inconsistencies in inspection_year.

df_4['inspection_year'].value_counts(dropna=False)

inspection_year
2018.0    248088
2019.0    243207
2017.0    241665
2022.0    231786
2023.0    231725
2016.0    174939
2012.0    169754
2011.0    153001
2010.0    150706
2014.0    132303
2015.0    132190
2013.0    130238
2021.0    101710
2020.0     69954
2009.0     19275
2024.0     17682
NaN           17
2001.0        14
2003.0         5
2002.0         5
2008.0         4
1935.0         2
2000.0         2
1930.0         2
1950.0         2
1918.0         1
1945.0         1
2029.0         1
1956.0         1
1958.0         1
1971.0         1
2025.0         1
2007.0         1
Name: count, dtype: int64

In [49]:
# Create an inspection_year_flag for inspection dates prior to 2000 and after 2024.

result = []

for value in df_4['inspection_year']:
    if value < 2000:
        result.append("Pre-2000")
    elif value > 2024:
        result.append("Impossible")
    else:
        result.append("Present")

In [46]:
result

['Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 'Present',
 ...]

In [50]:
# Create new column to contain result.

df_4['inspection_year_flag'] = result

C:\Users\danie\AppData\Local\Temp\ipykernel_11664\3220161203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4['inspection_year_flag'] = result

In [51]:
# Check value counts for inspection_year_flag.

df_4['inspection_year_flag'].value_counts(dropna = False)

inspection_year_flag
Present       2448271
Pre-2000           11
Impossible          2
Name: count, dtype: int64

In [52]:
# Create dataframe containing only present inspections.

df_5 = df_4[df_4['inspection_year_flag'] == 'Present']

## 3. Review of variables and basic descriptive statistical analysis.

In [53]:
# Value counts for INSPECTION_TYPE.

df_5['INSPECTION_TYPE'].value_counts()

INSPECTION_TYPE
Initial       1736885
Compliance     369288
BAIT           342098
Name: count, dtype: int64

In [54]:
# Value counts for JOB_PROGRESS.

df_5['JOB_PROGRESS'].value_counts()

JOB_PROGRESS
1     1772189
2      367397
3       88179
4       68125
5       51250
       ...
91          3
94          2
93          2
96          1
95          1
Name: count, Length: 96, dtype: int64

In [55]:
# Value counts for ZIP_CODE.

df_5['ZIP_CODE'].value_counts()

ZIP_CODE
11221.0    106855
11216.0     96046
10457.0     95245
10458.0     86430
11237.0     69937
            ...
10055.0         3
10000.0         2
11251.0         2
10172.0         2
10165.0         1
Name: count, Length: 227, dtype: int64

In [56]:
# Value counts for BOROUGH.

df_5['BOROUGH'].value_counts()

BOROUGH
Manhattan        785205
Bronx            716663
Brooklyn         677494
Queens           211411
Staten Island     57498
Name: count, dtype: int64

In [62]:
# Value counts for NEIGHBORHOOD.

df_5['NEIGHBORHOOD'].value_counts()

NEIGHBORHOOD
Bedford-Stuyvesant (West)                122724
Bushwick (West)                          100856
Bedford-Stuyvesant (East)                 74204
East Village                              70684
Upper West Side (Central)                 56204
                                          ...
Great Kills Park                              1
McGuire Fields                                1
Rockaway Community Park                       1
Soundview Park                                1
Ferry Point Park-St. Raymond Cemetery         1
Name: count, Length: 244, dtype: int64

In [63]:
# Value counts for RESULT.

df_5['RESULT'].value_counts()

RESULT
Passed                1494703
Rat Activity           389362
Bait applied           341914
Failed for Other R     222072
Monitoring visit          184
Name: count, dtype: int64

In [64]:
# Descriptive statistics on X_COORD.

df_5['X_COORD'].describe()

count    1.943532e+06
mean     1.007425e+06
std      9.076678e+05
min      9.133710e+05
25%      9.950510e+05
50%      1.003066e+06
75%      1.012400e+06
max      3.191389e+08
Name: X_COORD, dtype: float64

In [65]:
# Descriptive statistics on Y_COORD.

df_5['Y_COORD'].describe()

count    1.943532e+06
mean     2.214027e+05
std      9.238281e+05
min      1.210320e+05
25%      1.933720e+05
50%      2.176280e+05
75%      2.425840e+05
max      3.191347e+08
Name: Y_COORD, dtype: float64

In [66]:
# Descriptive statistics on LATITUDE.

df_5['LATITUDE'].describe()

count    2.448271e+06
mean     4.076205e+01
std      9.280420e-02
min     -1.890702e+01
25%      4.069590e+01
50%      4.076238e+01
75%      4.083178e+01
max      4.091286e+01
Name: LATITUDE, dtype: float64

In [67]:
# Descriptive statistics on LONGITUDE.

df_5['LONGITUDE'].describe()

count    2.448271e+06
mean    -7.393260e+01
std      5.442742e-02
min     -7.946610e+01
25%     -7.395911e+01
50%     -7.393389e+01
75%     -7.390115e+01
max     -7.370077e+01
Name: LONGITUDE, dtype: float64

In [72]:
# Check columns of df_5.

df_5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2448271 entries, 7 to 2478815
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   INSPECTION_TYPE       object
 1   JOB_PROGRESS          int64
 2   HOUSE_NUMBER          object
 3   STREET_NAME           object
 4   ZIP_CODE              float64
 5   X_COORD               float64
 6   Y_COORD               float64
 7   LATITUDE              float64
 8   LONGITUDE             float64
 9   BOROUGH               object
 10  INSPECTION_DATE       datetime64[ns]
 11  RESULT                object
 12  LOCATION              object
 13  COMMUNITY BOARD       float64
 14  COUNCIL DISTRICT      float64
 15  CENSUS TRACT          float64
 16  NEIGHBORHOOD          object
 17  inspection_year       float64
 18  inspection_year_flag  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(8)
memory usage: 373.6+ MB

In [74]:
# Check output of df_5.

df_5

,INSPECTION_TYPE,JOB_PROGRESS,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,LOCATION,COMMUNITY BOARD,COUNCIL DISTRICT,CENSUS TRACT,NEIGHBORHOOD,inspection_year,inspection_year_flag
7,Initial,1,NaN,ARLINGTON PLACE,11216.0,997701.0,187393.0,40.681017,-73.951502,Brooklyn,2019-09-12 11:55:08,Passed,"(40.6810169124686, -73.9515017503791)",NaN,NaN,NaN,NaN,2019.0,Present
9,Initial,1,NaN,BERGEN STREET,11233.0,NaN,NaN,40.673611,-73.909171,Brooklyn,2016-12-27 12:36:34,Failed for Other R,"(40.6736114362601, -73.9091705375978)",NaN,NaN,NaN,NaN,2016.0,Present
27,Initial,1,NaN,EDGECOMBE AVENUE,10031.0,1000223.0,240315.0,40.826270,-73.942285,Manhattan,2013-07-12 12:00:47,Passed,"(40.8262698520729, -73.9422846601732)",NaN,NaN,NaN,NaN,2013.0,Present
30,Initial,1,NaN,WASHINGTON AVENUE,11225.0,995106.0,181890.0,40.665788,-73.960890,Brooklyn,2017-12-18 15:34:44,Passed,"(40.6657883821875, -73.9608903798308)",NaN,NaN,NaN,NaN,2017.0,Present
31,Compliance,2,NaN,WORTMAN AVENUE,11208.0,NaN,NaN,40.663952,-73.868750,Brooklyn,2012-12-19 16:15:50,Passed,"(40.6639519979903, -73.8687500203666)",NaN,NaN,NaN,NaN,2012.0,Present
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478811,Initial,1,28,WEST 184 STREET,10468.0,NaN,NaN,40.860970,-73.903701,Bronx,2022-07-18 15:29:22,Rat Activity,"(40.860970037215, -73.903701320028)",7.0,14.0,253.0,University Heights (North)-Fordham,2022.0,Present
2478812,Initial,1,382,HART STREET,11206.0,NaN,NaN,40.694630,-73.935954,Brooklyn,2023-02-03 15:00:12,Rat Activity,"(40.69463026184, -73.935954461176)",3.0,36.0,287.0,Bedford-Stuyvesant (East),2023.0,Present
2478813,Initial,1,15,EAST 184 STREET,10468.0,1011404.0,252805.0,40.860442,-73.902140,Bronx,2018-05-08 13:46:46,Passed,"(40.860441730285, -73.902140323668)",5.0,14.0,239.0,Fordham Heights,2018.0,Present
2478814,Initial,1,38-21,69 STREET,11377.0,NaN,NaN,40.746886,-73.896421,Queens,2023-03-02 12:51:42,Passed,"(40.746886470496, -73.896421476592)",2.0,26.0,263.0,Woodside,2023.0,Present
2478815,Initial,1,1154,TAYLOR AVENUE,10472.0,1021731.0,241515.0,40.829062,-73.864744,Bronx,2017-08-01 11:13:26,Passed,"(40.829061640406, -73.864743726902)",9.0,18.0,70.0,Soundview-Bruckner-Bronx River,2017.0,Present

## 4. Export updated dataset.

In [70]:
# Export df_5 to csv.

df_5.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Data_Cleaned_1.csv'))